gitexample2/src/main/mule/gitexample2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="948d6374-ab0d-42ee-96e2-d3e2d7d7eca3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitexample2Flow" doc:id="6d776ba0-d006-4b37-85d6-860c835cc670" >
		<http:listener doc:name="Listener" doc:id="4e837620-a4bf-4647-a126-c44cdeb1b616" config-ref="HTTP_Listener_config" path="gitexample2"/>
		<set-payload value="#['Set gitexample2 Story3']" doc:name="Set Payload" doc:id="7c9d6a4a-c223-4afc-a874-a4a7f965a341" />
	</flow>
</mule>
